@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu {
    display: flex;
    width: 1331px;
    height: 56px;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
   
    align-items: center;
    position: relative;
}

.icon-menu img{
    width: 24px;
    height: 24px;
    top: 16px;
    left: 24px;
    position: absolute;
}

.logo {
    width: 90px;
    height: 20px;
    top: 18px;
    left: 80px;
    position: absolute;
}

.search img{
    width: 404px;
    height: 40px;
    border: 1px;
    position: absolute;
    justify-content: center;
    top: 8px;
    left: 500px
}

.video {
    width: 24px;
    height: 24px;
    top: 20px;
    left: 1250px;
    border: 1px;
    position: absolute;
}

.bell {
    width: 24px;
    height: 24px;
    top: 20px;
    left: 1290px;
    border: 1px;
    position: absolute;
}


.avatar {
    width: 34px;
    height: 34px;
    top: 15px;
    left: 1330px;
    border: 1px;
    position: absolute;
}

.main {
    width: 952px;
    height: 537px;
}

iframe {
    width: 900px;
    height: 537px;
    top: 84px;
    left: 75px;
    gap: 16px;
    margin-left: 80px;
    margin-top: 30px;
}

.titulo h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 952px;
    height: 537px;
    top: 84px;
    left: 75px;
    gap: 16px;
    margin-left: 80px;
    margin-top: 10px;
}
.video-actions {
    width: 902px;
    height: 42px;
    display: flex;
    gap: 42px;
    position: absolute;
    top: 680px;
    left: 80px;
}

.channel-info {
    width: 160px;
    height: 42px;
   
}

.button {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  
}

#fundobotao {
    display: flex;
    width: 159px;
    height: 40px;
    border-radius: 2px;
    background: #CC0000;
    align-items: center;
    justify-content: center;
}

.like img {
    margin-right: 5px;
}

div h2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 740px;
    left: 80px; 
}

div p{
    max-width: 510px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 770px;
    left: 80px;
    color: #515151;
}

.sidebar {
    display: flex;
    flex-flow: column;
    width: 160px;
    height: 938px;  
    position: absolute;
    top: 84px;
    right: 220px;
}

.sidebar-text {
    display: flex;
    flex-flow: row;
    width: 190px;
    height: 938px;
    position: absolute;
    top: 84px;
    right: 20px;
}
.h2-thumb {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
   
}

#thumb-01 {
    position: absolute;
    top: 0px;
    left: 0px; 
    margin-bottom: 0px;
}

#thumb-02 {
    position: absolute;
    top: 95px;
    left: 0px; 
    margin-bottom: 0px;
}

#thumb-03 {
    position: absolute;
    top: 190px;
    left: 0px; 
    margin-bottom: 0px;
}

#thumb-04 {
    position: absolute;
    top: 285px;
    left: 0px; 
    margin-bottom: 0px;
}

#thumb-05 {
    position: absolute;
    top: 380px;
    left: 0px; 
    margin-bottom: 0px;
}

#text-05 {
    position: absolute;
    top: 410px;
    left: 0px; 
}

#thumb-06 {
    position: absolute;
    top: 470px;
    left: 0px; 
    margin-bottom: 0px;
}

#text-06 {
    position: absolute;
    top: 505px;
    left: 0px; 
}

#thumb-07 {
    position: absolute;
    top: 560px;
    left: 0px; 
    margin-bottom: 0px;
}

#text-07 {
    position: absolute;
    top: 600px;
    left: 0px; 
}

#thumb-08 {
    position: absolute;
    top: 655px;
    left: 0px; 
    margin-bottom: 0px;
}

#text-08 {
    position: absolute;
    top: 690px;
    left: 0px; 
}

#thumb-09 {
    position: absolute;
    top: 750px;
    left: 0px; 
    margin-bottom: 0px;
}

#text-09 {
    position: absolute;
    top: 785px;
    left: 0px; 
}

.sidebar-text p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;    
}

#text-01 {
    position: absolute;
    top: 40px;
    left: 0px; 
}

#text-02 {
    position: absolute;
    top: 130px;
    left: 0px; 
}

#text-03 {
    position: absolute;
    top: 225px;
    left: 0px; 
}

#text-04 {
    position: absolute;
    top: 320px;
    left: 0px; 
}
.uploader {
    line-height: 20px;
}
